@model MvcGestionAsso.Models.CategorieActivite

@{
    ViewBag.Title = "Supprimer";
}

<h2>@ViewBag.Title</h2>

<h3>Etes-vous sûr de vouloir supprimer ceci ?</h3>
<div>
    <h4>Catégorie d'activité</h4>

    @Html.ValidationSummary();

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParentId)
        </dt>

        <dd>
            @if (Model.Parent != null)
            {
                @Html.DisplayFor(model => model.Parent.CategorieActiviteNom)
            }
            else
            {
                @Html.Raw("(Aucune)")
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategorieActiviteNom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategorieActiviteNom)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }
</div>
