@model IEnumerable<MvcGestionAsso.Models.Abonnement>

@{
    ViewBag.Title = "Abonnements";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Nouveau", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Adherent.NomComplet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Formule.FormuleNom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeReglement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModification)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Adherent.NomComplet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Formule.FormuleNom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeReglement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateModification)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.AbonnementId }) |
            @Html.ActionLink("Détails", "Details", new { id=item.AbonnementId }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.AbonnementId })
        </td>
    </tr>
}

</table>
