@model IEnumerable<MvcGestionAsso.Models.Adherent>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Nouveau", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.AdherentNom).ToHtmlString(), "Index", new { sort = ViewBag.NomSort })
        </th>
        <th>
            @Html.ActionLink("Prénom", "Index", new { sort = ViewBag.PrenomSort })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Famille).ToHtmlString(), "Index", new { sort = ViewBag.FamilleSort })
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.EMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Adresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresse2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodePostal)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Ville)
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.DateCreation).ToHtmlString(), "Index", new { sort = ViewBag.DateCreationSort })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.DateModification).ToHtmlString(), "Index", new { sort = ViewBag.DateModifSort })
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.DateResiliation)
        </th>*@
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Statut).ToHtmlString(), "Index", new { sort = ViewBag.StatutSort })
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CertificatMedical)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdherentNom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdherentPrenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Famille)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.EMail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Adresse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresse2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodePostal)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Ville)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateModification)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.DateResiliation)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Statut)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.CertificatMedical)
        </td>*@
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.AdherentId }) |
            @Html.ActionLink("Détails", "Details", new { id=item.AdherentId }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.AdherentId })
        </td>
    </tr>
}

</table>
