@model MvcGestionAsso.Models.Activite

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Détails de l'activité</h4>
</div>
<div class="modal-body">

    <p id="MessageToClient" class="text-danger"></p>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categorie.CategorieActiviteNom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorie.CategorieActiviteNom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lieu.LieuNom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lieu.LieuNom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiviteNom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiviteNom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiviteCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiviteCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateDebut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDebut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DureeHeures)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DureeHeures)
        </dd>

    </dl>
</div>

<div class="modal-footer">
    <a class="btn btn-default" data-dismiss="modal">Fermer</a>
</div>
