@model IEnumerable<MvcGestionAsso.Models.Activite>


<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Liste des activités - </strong>
        @Html.ActionLink("Créer", "CreateForLieu", "Activites",
                           new { lieuId = ViewBag.LieuId },
                           new { @class = "btn btn-primary btn-xs", data_modal = "" })
    </div>
    <table class="table table-hover">
        <tr>
            <th>
                @Html.ActionLink("Catégorie", "Index", new { sort = ViewBag.CategorieSort, search = ViewBag.CurrentSearch })
            </th>
            <th>
                @Html.ActionLink("Nom", "Index", new { sort = ViewBag.NomSort, search = ViewBag.CurrentSearch })
            </th>
            <th>
                @Html.ActionLink("Code", "Index", new { sort = ViewBag.CodeSort, search = ViewBag.CurrentSearch })
            </th>
            <th>
                @Html.ActionLink("Année", "Index", new { sort = ViewBag.AnneeSort, search = ViewBag.CurrentSearch })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Planification)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Categorie.CategorieActiviteNom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActiviteNom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActiviteCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateDebut.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Planification)
                </td>
                <td>
                    @Html.ActionLink("Modifier", "Edit", "Activites",
                            new { id = item.ActiviteId, lieuId = ViewBag.LieuId },
                            new { @class = "btn btn-default btn-xs", data_modal = "" })
                    @Html.ActionLink("Détails", "Details", "Activites",
                            new { id = item.ActiviteId, lieuId = ViewBag.LieuId },
                            new { @class = "btn btn-info btn-xs", data_modal = "" })
                    @Html.ActionLink("Supprimer", "Delete", "Activites",
                            new { id = item.ActiviteId, lieuId = ViewBag.LieuId },
                            new { @class = "btn btn-danger btn-xs", data_modal = "" })
                </td>
            </tr>
        }

    </table>
</div>