@model IEnumerable<MvcGestionAsso.Models.Activite>

@{
    ViewBag.Title = "Activités";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Créer", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Catégorie", "Index", new { sort = ViewBag.CategorieSort, search = ViewBag.CurrentSearch })
        </th>
        <th>
            @Html.ActionLink("Lieu", "Index", new { sort = ViewBag.LieuSort, search = ViewBag.CurrentSearch })
        </th>
        <th>
            @Html.ActionLink("Nom", "Index", new { sort = ViewBag.NomSort, search = ViewBag.CurrentSearch })
        </th>
        <th>
            @Html.ActionLink("Code", "Index", new { sort = ViewBag.CodeSort, search = ViewBag.CurrentSearch })
        </th>
        <th>
            @Html.ActionLink("Date de début", "Index", new { sort = ViewBag.DateDebutSort, search = ViewBag.CurrentSearch })
        </th>
        <th>
            @Html.ActionLink("Date de fin", "Index", new { sort = ViewBag.DateFinSort, search = ViewBag.CurrentSearch })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Planification)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Categorie.CategorieActiviteNom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lieu.LieuNom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiviteNom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiviteCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDebut, "ShortDateDateTime")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFin, "ShortDateDateTime")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Planification)
            </td>
            <td>
                @Html.ActionLink("Modifier", "Edit", new { id = item.ActiviteId }) |
                @Html.ActionLink("Détails", "Details", new { id = item.ActiviteId }) |
                @Html.ActionLink("Supprimer", "Delete", new { id = item.ActiviteId })
            </td>
        </tr>
    }

</table>
