@model IEnumerable<MvcGestionAsso.Models.Activite>

@{
    ViewBag.Title = "Activités";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Créer", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categorie.CategorieActiviteNom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lieu.LieuNom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActiviteNom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActiviteCode)
        </th>
        <th>
            Planning
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDebut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DureeHeures)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categorie.CategorieActiviteNom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lieu.LieuNom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActiviteNom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActiviteCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateDebut, "WeekdayHourDateTime")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateDebut, "ShortDateDateTime")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateFin, "ShortDateDateTime")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DureeHeures)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.ActiviteId }) |
            @Html.ActionLink("Détails", "Details", new { id=item.ActiviteId }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.ActiviteId })
        </td>
    </tr>
}

</table>
